n8n-workflows/workflow-5OD7GVs9LxpXpAn0.json
{
  "createdAt": "2025-05-29T20:08:08.882Z",
  "updatedAt": "2025-05-29T21:12:43.855Z",
  "id": "5OD7GVs9LxpXpAn0",
  "name": "DB Daily Logs",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "daily-logs-db",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        300
      ],
      "webhookId": "4de0871a-a0c3-415c-be4e-7e76dec79fe3"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "daily_logs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "intern_email": "={{ $json.internEmail }}",
            "intern_name": "={{ $json.internName }}",
            "log_date": "={{ $json.date }}",
            "project_description": "={{ $json.projectDescription }}",
            "tasks_completed": "={{ $json.tasksCompleted }}",
            "time_spent": "={{ parseFloat($json.timeSpent) }}",
            "challenges": "={{ $json.challenges }}",
            "notes": "={{ $json.notes }}"
          }
        },
        "additionalFields": {}
      },
      "id": "postgres1",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "A9lAUI2oMIYjgm3K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\", \"message\": \"Log saved to database\", \"timestamp\": \"{{ $now }}\"}",
        "options": {}
      },
      "id": "respond1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "76e47cf1-7857-4abb-a18b-541b49dbf389",
  "triggerCount": 1,
  "tags": []
}