n8n-workflows/workflow-X9RkVAmKsXDr526f.json
{
  "createdAt": "2025-05-29T20:04:28.231Z",
  "updatedAt": "2025-05-29T21:14:37.000Z",
  "id": "X9RkVAmKsXDr526f",
  "name": "DB Get Logs",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "get-logs-db",
        "options": {}
      },
      "id": "webhook2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        300
      ],
      "webhookId": "7d9e1bc5-956d-482f-aa84-a2321e711693"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "   SELECT * FROM daily_logs\n   ORDER BY log_date DESC\n   LIMIT 50",
        "additionalFields": {}
      },
      "id": "postgres2",
      "name": "Get from Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "A9lAUI2oMIYjgm3K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"data\": {{ $json }},\n  \"count\": {{ $json.length }}\n}",
        "options": {}
      },
      "id": "respond2",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get from Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get from Database": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1a2dd2f8-97c0-474b-8d6b-3162ef8a3462",
  "triggerCount": 1,
  "tags": []
}