n8n-workflows/workflow-3Eq3btK7Nz11AxqE.json
{
  "createdAt": "2025-05-29T20:22:09.432Z",
  "updatedAt": "2025-05-29T21:14:39.000Z",
  "id": "3Eq3btK7Nz11AxqE",
  "name": "DB Daily Logs Working",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-logs-db",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        300
      ],
      "webhookId": "588064ac-6132-4a01-8736-06c0d6561164"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "   SELECT * FROM daily_logs ORDER BY created_at DESC LIMIT 50",
        "additionalFields": {
          "queryParams": "="
        }
      },
      "id": "postgres1",
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "A9lAUI2oMIYjgm3K",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "   {\n     \"status\": \"success\",\n     \"message\": \"Daily log saved successfully\"\n   }",
        "options": {}
      },
      "id": "respond1",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"error\",\"message\":\"Failed to save daily log to database\",\"error\":\"{{ $json.error?.message || 'Unknown database error' }}\",\"timestamp\":\"{{ $now }}\"}",
        "options": {}
      },
      "id": "respondError",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5f2b3afd-a456-437d-b1bc-ef703a10652e",
  "triggerCount": 1,
  "tags": []
}